In [35]:
import pandas as pd

# Data Merge

In [2]:
language_data = pd.read_csv('student-por.csv')

In [3]:
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [4]:
language_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [5]:
math_data = pd.read_csv('student-mat.csv')

In [6]:
math_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
df = pd.concat([language_data,math_data])
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [8]:
df.shape

(1044, 33)

In [9]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

# drop unwanted columns

In [10]:
df = df.drop(['school', 'address','reason', 'traveltime', 'nursery', 'internet'], axis = 1)

In [11]:
df.shape

(1044, 27)

# merged dataframe is named mergeSet

In [12]:
df.to_csv(r'mergeSet.csv')

In [13]:
df

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,studytime,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,GT3,A,4,4,at_home,teacher,mother,2,...,4,3,4,1,1,3,4,0,11,11
1,F,17,GT3,T,1,1,at_home,other,father,2,...,5,3,3,1,1,3,2,9,11,11
2,F,15,LE3,T,1,1,at_home,other,mother,2,...,4,3,2,2,3,3,6,12,13,12
3,F,15,GT3,T,4,2,health,services,mother,3,...,3,2,2,1,1,5,0,14,14,14
4,F,16,GT3,T,3,3,other,other,father,2,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,LE3,A,2,2,services,services,other,2,...,5,5,4,4,5,4,11,9,9,9
391,M,17,LE3,T,3,1,services,services,mother,1,...,2,4,5,3,4,2,3,14,16,16
392,M,21,GT3,T,1,1,other,other,other,1,...,5,5,3,3,3,3,3,10,8,7
393,M,18,LE3,T,3,2,services,other,mother,1,...,4,4,1,3,4,5,0,11,12,10
394,M,19,LE3,T,1,1,other,at_home,father,1,...,3,2,3,3,3,5,5,8,9,9

In [36]:
df = pd.read_csv('mergeSet.csv')

In [37]:
df.head()

,Unnamed: 0,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,F,18,GT3,A,4,4,at_home,teacher,mother,...,4,3,4,1,1,3,4,0,11,11
1,1,F,17,GT3,T,1,1,at_home,other,father,...,5,3,3,1,1,3,2,9,11,11
2,2,F,15,LE3,T,1,1,at_home,other,mother,...,4,3,2,2,3,3,6,12,13,12
3,3,F,15,GT3,T,4,2,health,services,mother,...,3,2,2,1,1,5,0,14,14,14
4,4,F,16,GT3,T,3,3,other,other,father,...,4,3,2,1,2,5,0,11,13,13

In [38]:
df.shape

(1044, 28)

# test and train split [trainSet, testSet]

In [39]:
from sklearn.model_selection import train_test_split
trainSet, testSet = train_test_split(df, test_size = 0.2, random_state = 42)

In [40]:
trainSet.shape
testSet.shape

#download the train and test sets
trainSet.to_csv(r'TrainSet.csv')
testSet.to_csv(r'TestSet.csv')

In [19]:
trainSet

,Unnamed: 0,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
531,531,M,17,GT3,T,1,1,at_home,services,mother,...,5,1,3,3,3,1,0,10,10,10
256,256,M,18,GT3,T,2,2,other,at_home,other,...,4,4,3,2,2,1,26,7,8,8
350,350,M,19,LE3,T,2,1,at_home,services,mother,...,4,3,1,1,1,5,0,9,10,11
60,60,F,16,GT3,T,4,4,health,teacher,mother,...,2,4,4,2,3,4,0,17,16,16
930,281,M,17,LE3,A,3,2,teacher,services,mother,...,4,4,4,3,4,3,19,11,9,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,87,F,15,GT3,T,4,2,other,other,mother,...,5,3,3,1,3,1,4,15,15,15
330,330,F,18,GT3,T,2,1,other,other,mother,...,4,3,1,1,1,5,10,12,13,14
466,466,M,15,GT3,T,3,1,other,services,mother,...,3,2,3,1,3,4,0,10,9,11
121,121,M,15,GT3,T,2,2,services,services,father,...,5,5,4,1,2,5,6,14,13,13
860,211,M,17,LE3,T,4,4,services,other,mother,...,5,3,5,4,5,3,13,12,12,13

In [20]:
# Profiling

from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='pandasProfile.html')

# code for higher quality images

code for higher quality images

In [22]:
import os
from pathlib import Path

IMAGES_PATH = Path()
IMAGES_PATH.mkdir(parents=True, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = IMAGES_PATH / f"{fig_id}.{fig_extension}"
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [1]:
import pandas as pd

In [24]:
from pandas_profiling import ProfileReport
prof = ProfileReport(testSet)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Read train and test set

In [19]:
trainSet = pd.read_csv('TrainSet.csv')
#trainSetCat = trainSet[['sex','famsize','Pstatus','Mjob','Fjob','guardian','schoolsup','famsup','paid','activities','higher','romantic']]
#trainSetCat.head(10)

In [20]:
testSet = pd.read_csv('TestSet.csv')
#testSetCat = testSet[['sex','famsize','Pstatus','Mjob','Fjob','guardian','schoolsup','famsup','paid','activities','higher','romantic']]
#testSetCat.head()

In [4]:
testSet.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'sex', 'age', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'guardian', 'studytime', 'failures',
       'schoolsup', 'famsup', 'paid', 'activities', 'higher', 'romantic',
       'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences',
       'G1', 'G2', 'G3'],
      dtype='object')

In [5]:
testSet.dtypes

Unnamed: 0.1     int64
Unnamed: 0       int64
sex             object
age              int64
famsize         object
Pstatus         object
Medu             int64
Fedu             int64
Mjob            object
Fjob            object
guardian        object
studytime        int64
failures         int64
schoolsup       object
famsup          object
paid            object
activities      object
higher          object
romantic        object
famrel           int64
freetime         int64
goout            int64
Dalc             int64
Walc             int64
health           int64
absences         int64
G1               int64
G2               int64
G3               int64
dtype: object

In [6]:
#Getting all the categorical and integer features in different lists
categorical_features = trainSet.select_dtypes(include="object").columns
integer_features = trainSet.select_dtypes(exclude="object").columns

In [7]:
categorical_features

Index(['sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'guardian', 'schoolsup',
       'famsup', 'paid', 'activities', 'higher', 'romantic'],
      dtype='object')

In [8]:
integer_features

Index(['Unnamed: 0.1', 'Unnamed: 0', 'age', 'Medu', 'Fedu', 'studytime',
       'failures', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences', 'G1', 'G2', 'G3'],
      dtype='object')

# OneHotEncoder

In [38]:
# categorical values taken in df_category and one hot encoding applied on them through column transformer

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

onehot_enc = ColumnTransformer([("cat", OneHotEncoder(), categorical_features)],
                               remainder = 'passthrough',
                       verbose_feature_names_out = False)

In [10]:
trainSet[['sex','famsize','Pstatus','Mjob','Fjob','guardian','schoolsup','famsup','paid','activities','higher','romantic']].value_counts()

onehot_enc

ColumnTransformer(remainder='passthrough',
                  transformers=[('cat', OneHotEncoder(),
                                 Index(['sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'guardian', 'schoolsup',
       'famsup', 'paid', 'activities', 'higher', 'romantic'],
      dtype='object'))],
                  verbose_feature_names_out=False)

In [11]:
#from sklearn import set_config, extra code
set_config(display = "diagram")
onehot_enc

NameError: name 'set_config' is not defined

In [32]:
#Applying fit_transform on Train set
df_encoded = onehot_enc.fit_transform(trainSet)
df_encoded = pd.DataFrame(df_encoded) # updated dataframe after fit_transform applied
#Applying transform on Test set
testSet = onehot_enc.transform(testSet)
testSet = pd.DataFrame(testSet)

KeyError: "None of [Index(['sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'guardian', 'schoolsup',\n       'famsup', 'paid', 'activities', 'higher', 'romantic'],\n      dtype='object')] are in the [columns]"

In [13]:
df_encoded.tail()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
830,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,5.0,3.0,3.0,1.0,3.0,1.0,4.0,15.0,15.0,15.0
831,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,4.0,3.0,1.0,1.0,1.0,5.0,10.0,12.0,13.0,14.0
832,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,3.0,2.0,3.0,1.0,3.0,4.0,0.0,10.0,9.0,11.0
833,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,5.0,5.0,4.0,1.0,2.0,5.0,6.0,14.0,13.0,13.0
834,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,5.0,3.0,5.0,4.0,5.0,3.0,13.0,12.0,12.0,13.0

In [14]:
#Shape of Original Train Set
trainSet.shape

(835, 29)

In [15]:
#Shape of Scaled Train Set 
df_encoded.shape

(835, 48)

In [25]:
#Getting all the column names
onehot_enc.get_feature_names_out()

array(['sex_F', 'sex_M', 'famsize_GT3', 'famsize_LE3', 'Pstatus_A',
       'Pstatus_T', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'Fjob_at_home', 'Fjob_health',
       'Fjob_other', 'Fjob_services', 'Fjob_teacher', 'guardian_father',
       'guardian_mother', 'guardian_other', 'schoolsup_no',
       'schoolsup_yes', 'famsup_no', 'famsup_yes', 'paid_no', 'paid_yes',
       'activities_no', 'activities_yes', 'higher_no', 'higher_yes',
       'romantic_no', 'romantic_yes', 'Unnamed: 0.1', 'Unnamed: 0', 'age',
       'Medu', 'Fedu', 'studytime', 'failures', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype=object)

In [29]:
#Rename the Scaled Train Set and Test Set columns
df_encoded.columns = onehot_enc.get_feature_names_out()
testSet.columns = onehot_enc.get_feature_names_out()

In [30]:
df_encoded

,sex_F,sex_M,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,5.0,1.0,3.0,3.0,3.0,1.0,0.0,10.0,10.0,10.0
1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,4.0,4.0,3.0,2.0,2.0,1.0,26.0,7.0,8.0,8.0
2,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,4.0,3.0,1.0,1.0,1.0,5.0,0.0,9.0,10.0,11.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,2.0,4.0,4.0,2.0,3.0,4.0,0.0,17.0,16.0,16.0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,3.0,4.0,3.0,19.0,11.0,9.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,5.0,3.0,3.0,1.0,3.0,1.0,4.0,15.0,15.0,15.0
831,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,4.0,3.0,1.0,1.0,1.0,5.0,10.0,12.0,13.0,14.0
832,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,3.0,2.0,3.0,1.0,3.0,4.0,0.0,10.0,9.0,11.0
833,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,5.0,5.0,4.0,1.0,2.0,5.0,6.0,14.0,13.0,13.0
834,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,5.0,3.0,5.0,4.0,5.0,3.0,13.0,12.0,12.0,13.0

In [41]:
testSet

,Unnamed: 0,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
971,322,F,17,LE3,T,2,2,services,services,mother,...,3,3,2,2,2,3,3,11,11,11
280,280,M,18,LE3,T,3,3,other,services,mother,...,4,3,3,1,3,5,8,10,9,10
536,536,M,15,LE3,A,2,2,other,other,mother,...,5,4,5,2,3,5,8,13,14,14
824,175,M,17,LE3,T,4,3,teacher,other,mother,...,4,4,4,4,4,4,4,10,9,9
644,644,F,19,GT3,T,2,3,services,other,mother,...,5,4,2,1,2,5,4,10,11,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,40,F,16,LE3,T,2,2,other,other,mother,...,3,3,3,1,2,3,25,7,10,11
848,199,F,16,LE3,T,4,4,teacher,teacher,mother,...,4,5,2,1,2,3,0,9,9,10
617,617,F,18,LE3,T,1,1,at_home,services,father,...,5,3,2,1,1,4,0,19,17,18
458,458,F,16,GT3,T,1,1,other,other,father,...,4,3,2,1,1,1,0,13,10,13
1004,355,F,18,GT3,T,3,3,services,services,father,...,5,3,4,1,1,5,0,10,9,9

In [42]:
#download the scaled train and test sets
df_encoded.to_csv(r'ScaledTrainSet.csv')
testSet.to_csv(r'ScaledTestSet.csv')