In [1]:
import pandas as pd

# Data Merge

In [2]:
language_data = pd.read_csv('student-por.csv')

In [3]:
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [4]:
language_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [5]:
math_data = pd.read_csv('student-mat.csv')

In [6]:
math_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
df = pd.concat([language_data,math_data])
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [8]:
df.shape

(1044, 33)

In [9]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [15]:
df['Dalc'].value_counts()

1    727
2    196
3     69
5     26
4     26
Name: Dalc, dtype: int64

# drop unwanted columns

In [230]:
df = df.drop(['school', 'address','reason', 'traveltime', 'nursery', 'internet'], axis = 1)

In [231]:
df.shape

(1044, 27)

# merged dataframe is named mergeSet

In [232]:
df.to_csv(r'mergeSet.csv', index = False)

In [233]:
df

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,studytime,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,GT3,A,4,4,at_home,teacher,mother,2,...,4,3,4,1,1,3,4,0,11,11
1,F,17,GT3,T,1,1,at_home,other,father,2,...,5,3,3,1,1,3,2,9,11,11
2,F,15,LE3,T,1,1,at_home,other,mother,2,...,4,3,2,2,3,3,6,12,13,12
3,F,15,GT3,T,4,2,health,services,mother,3,...,3,2,2,1,1,5,0,14,14,14
4,F,16,GT3,T,3,3,other,other,father,2,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,LE3,A,2,2,services,services,other,2,...,5,5,4,4,5,4,11,9,9,9
391,M,17,LE3,T,3,1,services,services,mother,1,...,2,4,5,3,4,2,3,14,16,16
392,M,21,GT3,T,1,1,other,other,other,1,...,5,5,3,3,3,3,3,10,8,7
393,M,18,LE3,T,3,2,services,other,mother,1,...,4,4,1,3,4,5,0,11,12,10
394,M,19,LE3,T,1,1,other,at_home,father,1,...,3,2,3,3,3,5,5,8,9,9

In [2]:
df = pd.read_csv('mergeSet.csv')

In [3]:
df.head()

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,studytime,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,GT3,A,4,4,at_home,teacher,mother,2,...,4,3,4,1,1,3,4,0,11,11
1,F,17,GT3,T,1,1,at_home,other,father,2,...,5,3,3,1,1,3,2,9,11,11
2,F,15,LE3,T,1,1,at_home,other,mother,2,...,4,3,2,2,3,3,6,12,13,12
3,F,15,GT3,T,4,2,health,services,mother,3,...,3,2,2,1,1,5,0,14,14,14
4,F,16,GT3,T,3,3,other,other,father,2,...,4,3,2,1,2,5,0,11,13,13

In [4]:
df.shape

(1044, 27)

In [5]:
#Take average of the grades in a new column
df['avg_grade'] = (df['G1'] + df['G2'] + df['G3'])/3
#Remove columns G1,G2, and G3
df = df.drop(['G1', 'G2', 'G3'], axis = 1)

In [6]:
#Add daily and weekend alcohol consumption

df.loc[(df['Dalc'] + df['Walc'] >= 4), 'alc'] = 1
df.loc[(df['Dalc'] + df['Walc'] < 4), 'alc'] = 0

#Remove columns Dalc and Walc
df = df.drop(['Dalc', 'Walc'], axis = 1)

In [7]:
df.shape

(1044, 24)

In [8]:
df.head()

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,studytime,...,activities,higher,romantic,famrel,freetime,goout,health,absences,avg_grade,alc
0,F,18,GT3,A,4,4,at_home,teacher,mother,2,...,no,yes,no,4,3,4,3,4,7.333333,0.0
1,F,17,GT3,T,1,1,at_home,other,father,2,...,no,yes,no,5,3,3,3,2,10.333333,0.0
2,F,15,LE3,T,1,1,at_home,other,mother,2,...,no,yes,no,4,3,2,3,6,12.333333,1.0
3,F,15,GT3,T,4,2,health,services,mother,3,...,yes,yes,yes,3,2,2,5,0,14.000000,0.0
4,F,16,GT3,T,3,3,other,other,father,2,...,no,yes,no,4,3,2,5,0,12.333333,0.0

# test and train split [trainSet, testSet]

In [9]:
from sklearn.model_selection import train_test_split
trainSet, testSet = train_test_split(df, test_size = 0.2, stratify = df['alc'], random_state = 42)

In [10]:
trainSet.shape
testSet.shape

#download the train and test sets
trainSet.to_csv(r'TrainSet.csv', index = False)
testSet.to_csv(r'TestSet.csv', index = False)

In [11]:
trainSet

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,studytime,...,activities,higher,romantic,famrel,freetime,goout,health,absences,avg_grade,alc
107,M,16,GT3,T,3,3,services,other,father,3,...,yes,yes,no,5,3,3,5,4,13.666667,0.0
949,F,18,LE3,A,4,4,health,other,mother,2,...,no,yes,yes,4,2,4,4,14,11.000000,0.0
405,F,19,LE3,A,2,3,at_home,other,other,1,...,no,no,no,2,2,3,5,16,10.666667,1.0
311,F,19,GT3,T,3,3,other,services,other,2,...,yes,yes,no,4,3,5,5,16,11.666667,1.0
329,F,17,GT3,T,2,2,other,other,mother,2,...,no,yes,no,5,4,5,5,12,12.666667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,F,18,GT3,T,1,1,other,other,mother,3,...,no,yes,no,4,3,2,4,2,8.666667,0.0
447,M,17,GT3,T,2,1,other,other,mother,1,...,yes,no,yes,5,5,5,3,8,9.000000,1.0
133,F,15,GT3,T,1,1,at_home,other,mother,1,...,yes,yes,yes,4,3,3,4,6,12.000000,0.0
456,F,16,GT3,T,1,1,at_home,other,father,2,...,no,yes,yes,5,4,3,2,0,14.000000,0.0
843,M,16,GT3,T,2,3,other,other,father,1,...,no,yes,no,5,3,3,3,0,13.666667,0.0

# Profiling

In [12]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='pandasProfile.html')

/var/folders/wg/mrp6zv8n7r367zfjyfl56td80000gn/T/ipykernel_1400/807985736.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# code for higher quality images

code for higher quality images

In [13]:
import os
from pathlib import Path

IMAGES_PATH = Path()
IMAGES_PATH.mkdir(parents=True, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = IMAGES_PATH / f"{fig_id}.{fig_extension}"
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [14]:
from pandas_profiling import ProfileReport
prof = ProfileReport(testSet)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Read train and test set

In [15]:
trainSet = pd.read_csv('TrainSet.csv')
#trainSetCat = trainSet[['sex','famsize','Pstatus','Mjob','Fjob','guardian','schoolsup','famsup','paid','activities','higher','romantic']]
#trainSetCat.head(10)

In [16]:
testSet = pd.read_csv('TestSet.csv')
#testSetCat = testSet[['sex','famsize','Pstatus','Mjob','Fjob','guardian','schoolsup','famsup','paid','activities','higher','romantic']]
#testSetCat.head()

In [17]:
testSet.columns

Index(['sex', 'age', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob',
       'guardian', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'higher', 'romantic', 'famrel', 'freetime', 'goout',
       'health', 'absences', 'avg_grade', 'alc'],
      dtype='object')

In [18]:
testSet.dtypes

sex            object
age             int64
famsize        object
Pstatus        object
Medu            int64
Fedu            int64
Mjob           object
Fjob           object
guardian       object
studytime       int64
failures        int64
schoolsup      object
famsup         object
paid           object
activities     object
higher         object
romantic       object
famrel          int64
freetime        int64
goout           int64
health          int64
absences        int64
avg_grade     float64
alc           float64
dtype: object

In [19]:
#Getting all the categorical and integer features in different lists 
categorical_features = trainSet.select_dtypes(include="object").columns
integer_features = trainSet.select_dtypes(exclude="object").columns

In [20]:
categorical_features

Index(['sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'guardian', 'schoolsup',
       'famsup', 'paid', 'activities', 'higher', 'romantic'],
      dtype='object')

In [21]:
integer_features= integer_features.drop(['alc'])

### OneHotEncoder

In [22]:
# categorical values taken in df_category and one hot encoding applied on them through column transformer

In [23]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler

onehot_enc = ColumnTransformer([("cat", OneHotEncoder(), categorical_features),
                               ("int", MinMaxScaler(), integer_features)],
                               remainder = 'passthrough',
                       verbose_feature_names_out = False)

In [24]:
trainSet[['sex','famsize','Pstatus','Mjob','Fjob','guardian','schoolsup','famsup','paid','activities','higher','romantic']].value_counts()

onehot_enc

ColumnTransformer(remainder='passthrough',
                  transformers=[('cat', OneHotEncoder(),
                                 Index(['sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'guardian', 'schoolsup',
       'famsup', 'paid', 'activities', 'higher', 'romantic'],
      dtype='object')),
                                ('int', MinMaxScaler(),
                                 Index(['age', 'Medu', 'Fedu', 'studytime', 'failures', 'famrel', 'freetime',
       'goout', 'health', 'absences', 'avg_grade'],
      dtype='object'))],
                  verbose_feature_names_out=False)

In [25]:
from sklearn import set_config

In [26]:
#from sklearn import set_config, extra code
set_config(display = "diagram")
onehot_enc

ColumnTransformer(remainder='passthrough',
                  transformers=[('cat', OneHotEncoder(),
                                 Index(['sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'guardian', 'schoolsup',
       'famsup', 'paid', 'activities', 'higher', 'romantic'],
      dtype='object')),
                                ('int', MinMaxScaler(),
                                 Index(['age', 'Medu', 'Fedu', 'studytime', 'failures', 'famrel', 'freetime',
       'goout', 'health', 'absences', 'avg_grade'],
      dtype='object'))],
                  verbose_feature_names_out=False)

In [27]:
#Applying fit_transform on Train set 
# df_encoded is updated train set after fit_transform
df_encoded = onehot_enc.fit_transform(trainSet)
df_encoded = pd.DataFrame(df_encoded) # updated dataframe after fit_transform applied
#Applying transform on Test set
testSet = onehot_enc.transform(testSet)
testSet = pd.DataFrame(testSet)

In [28]:
df_encoded.tail()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
830,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.25,0.666667,0.0,0.75,0.50,0.25,0.75,0.026667,0.423077,0.0
831,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.25,0.000000,0.0,1.00,1.00,1.00,0.50,0.106667,0.442308,1.0
832,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.25,0.000000,0.0,0.75,0.50,0.50,0.75,0.080000,0.615385,0.0
833,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.25,0.333333,0.0,1.00,0.75,0.50,0.25,0.000000,0.730769,0.0
834,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.75,0.000000,0.0,1.00,0.50,0.50,0.50,0.000000,0.711538,0.0

In [29]:
#Shape of Original Train Set
trainSet.shape

(835, 24)

In [30]:
#Shape of Scaled Train Set 
df_encoded.shape

(835, 43)

In [31]:
#Getting all the column names
onehot_enc.get_feature_names_out()

array(['sex_F', 'sex_M', 'famsize_GT3', 'famsize_LE3', 'Pstatus_A',
       'Pstatus_T', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'Fjob_at_home', 'Fjob_health',
       'Fjob_other', 'Fjob_services', 'Fjob_teacher', 'guardian_father',
       'guardian_mother', 'guardian_other', 'schoolsup_no',
       'schoolsup_yes', 'famsup_no', 'famsup_yes', 'paid_no', 'paid_yes',
       'activities_no', 'activities_yes', 'higher_no', 'higher_yes',
       'romantic_no', 'romantic_yes', 'age', 'Medu', 'Fedu', 'studytime',
       'failures', 'famrel', 'freetime', 'goout', 'health', 'absences',
       'avg_grade', 'alc'], dtype=object)

In [32]:
#Rename the Scaled Train Set and Test Set columns
df_encoded.columns = onehot_enc.get_feature_names_out()
testSet.columns = onehot_enc.get_feature_names_out()

In [33]:
df_encoded

,sex_F,sex_M,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,...,Fedu,studytime,failures,famrel,freetime,goout,health,absences,avg_grade,alc
0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.75,0.666667,0.000000,1.00,0.50,0.50,1.00,0.053333,0.711538,0.0
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.00,0.333333,0.000000,0.75,0.25,0.75,0.75,0.186667,0.557692,0.0
2,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.75,0.000000,0.333333,0.25,0.25,0.50,1.00,0.213333,0.538462,1.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.75,0.333333,0.000000,0.75,0.50,1.00,1.00,0.213333,0.596154,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.50,0.333333,0.000000,1.00,0.75,1.00,1.00,0.160000,0.653846,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.25,0.666667,0.000000,0.75,0.50,0.25,0.75,0.026667,0.423077,0.0
831,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.25,0.000000,0.000000,1.00,1.00,1.00,0.50,0.106667,0.442308,1.0
832,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.25,0.000000,0.000000,0.75,0.50,0.50,0.75,0.080000,0.615385,0.0
833,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.25,0.333333,0.000000,1.00,0.75,0.50,0.25,0.000000,0.730769,0.0
834,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.75,0.000000,0.000000,1.00,0.50,0.50,0.50,0.000000,0.711538,0.0

In [34]:
testSet

,sex_F,sex_M,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,...,Fedu,studytime,failures,famrel,freetime,goout,health,absences,avg_grade,alc
0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.00,0.333333,0.000000,1.00,0.75,0.50,0.25,0.000000,0.903846,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.00,0.000000,0.000000,0.75,0.75,0.75,0.25,0.080000,0.903846,0.0
2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.25,0.000000,0.000000,1.00,0.75,0.50,1.00,0.026667,0.423077,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.50,0.000000,0.000000,1.00,0.50,0.25,0.50,0.240000,0.288462,0.0
4,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.25,0.000000,0.333333,1.00,0.25,0.00,0.00,0.000000,0.403846,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.00,0.000000,0.000000,0.00,1.00,0.00,1.00,0.000000,0.711538,1.0
205,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.75,0.666667,0.000000,0.75,0.75,0.50,0.75,0.000000,0.615385,1.0
206,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.50,0.000000,0.333333,0.75,1.00,0.25,0.25,0.213333,0.596154,0.0
207,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.00,0.666667,0.000000,0.75,0.50,0.25,1.00,0.026667,0.596154,0.0
208,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.00,0.333333,0.000000,0.75,0.50,0.75,0.75,0.106667,0.557692,1.0

In [35]:
#download the scaled train and test sets
df_encoded.to_csv(r'ScaledTrainSet.csv', index = False)
testSet.to_csv(r'ScaledTestSet.csv', index = False)

In [36]:
trainSet

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,studytime,...,activities,higher,romantic,famrel,freetime,goout,health,absences,avg_grade,alc
0,M,16,GT3,T,3,3,services,other,father,3,...,yes,yes,no,5,3,3,5,4,13.666667,0.0
1,F,18,LE3,A,4,4,health,other,mother,2,...,no,yes,yes,4,2,4,4,14,11.000000,0.0
2,F,19,LE3,A,2,3,at_home,other,other,1,...,no,no,no,2,2,3,5,16,10.666667,1.0
3,F,19,GT3,T,3,3,other,services,other,2,...,yes,yes,no,4,3,5,5,16,11.666667,1.0
4,F,17,GT3,T,2,2,other,other,mother,2,...,no,yes,no,5,4,5,5,12,12.666667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,F,18,GT3,T,1,1,other,other,mother,3,...,no,yes,no,4,3,2,4,2,8.666667,0.0
831,M,17,GT3,T,2,1,other,other,mother,1,...,yes,no,yes,5,5,5,3,8,9.000000,1.0
832,F,15,GT3,T,1,1,at_home,other,mother,1,...,yes,yes,yes,4,3,3,4,6,12.000000,0.0
833,F,16,GT3,T,1,1,at_home,other,father,2,...,no,yes,yes,5,4,3,2,0,14.000000,0.0
834,M,16,GT3,T,2,3,other,other,father,1,...,no,yes,no,5,3,3,3,0,13.666667,0.0

In [37]:
dset = pd.read_csv('ScaledTrainSet.csv')

In [38]:
dset

,sex_F,sex_M,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,...,Fedu,studytime,failures,famrel,freetime,goout,health,absences,avg_grade,alc
0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.75,0.666667,0.000000,1.00,0.50,0.50,1.00,0.053333,0.711538,0.0
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.00,0.333333,0.000000,0.75,0.25,0.75,0.75,0.186667,0.557692,0.0
2,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.75,0.000000,0.333333,0.25,0.25,0.50,1.00,0.213333,0.538462,1.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.75,0.333333,0.000000,0.75,0.50,1.00,1.00,0.213333,0.596154,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.50,0.333333,0.000000,1.00,0.75,1.00,1.00,0.160000,0.653846,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.25,0.666667,0.000000,0.75,0.50,0.25,0.75,0.026667,0.423077,0.0
831,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.25,0.000000,0.000000,1.00,1.00,1.00,0.50,0.106667,0.442308,1.0
832,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.25,0.000000,0.000000,0.75,0.50,0.50,0.75,0.080000,0.615385,0.0
833,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.25,0.333333,0.000000,1.00,0.75,0.50,0.25,0.000000,0.730769,0.0
834,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.75,0.000000,0.000000,1.00,0.50,0.50,0.50,0.000000,0.711538,0.0

In [39]:
dset.info

<bound method DataFrame.info of      sex_F  sex_M  famsize_GT3  famsize_LE3  Pstatus_A  Pstatus_T  \
0      0.0    1.0          1.0          0.0        0.0        1.0
1      1.0    0.0          0.0          1.0        1.0        0.0
2      1.0    0.0          0.0          1.0        1.0        0.0
3      1.0    0.0          1.0          0.0        0.0        1.0
4      1.0    0.0          1.0          0.0        0.0        1.0
..     ...    ...          ...          ...        ...        ...
830    1.0    0.0          1.0          0.0        0.0        1.0
831    0.0    1.0          1.0          0.0        0.0        1.0
832    1.0    0.0          1.0          0.0        0.0        1.0
833    1.0    0.0          1.0          0.0        0.0        1.0
834    0.0    1.0          1.0          0.0        0.0        1.0

     Mjob_at_home  Mjob_health  Mjob_other  Mjob_services  ...  Fedu  \
0             0.0          0.0         0.0            1.0  ...  0.75
1             0.0          1.0         0.0            0.0  ...  1.00
2             1.0          0.0         0.0            0.0  ...  0.75
3             0.0          0.0         1.0            0.0  ...  0.75
4             0.0          0.0         1.0            0.0  ...  0.50
..            ...          ...         ...            ...  ...   ...
830           0.0          0.0         1.0            0.0  ...  0.25
831           0.0          0.0         1.0            0.0  ...  0.25
832           1.0          0.0         0.0            0.0  ...  0.25
833           1.0          0.0         0.0            0.0  ...  0.25
834           0.0          0.0         1.0            0.0  ...  0.75

     studytime  failures  famrel  freetime  goout  health  absences  \
0     0.666667  0.000000    1.00      0.50   0.50    1.00  0.053333
1     0.333333  0.000000    0.75      0.25   0.75    0.75  0.186667
2     0.000000  0.333333    0.25      0.25   0.50    1.00  0.213333
3     0.333333  0.000000    0.75      0.50   1.00    1.00  0.213333
4     0.333333  0.000000    1.00      0.75   1.00    1.00  0.160000
..         ...       ...     ...       ...    ...     ...       ...
830   0.666667  0.000000    0.75      0.50   0.25    0.75  0.026667
831   0.000000  0.000000    1.00      1.00   1.00    0.50  0.106667
832   0.000000  0.000000    0.75      0.50   0.50    0.75  0.080000
833   0.333333  0.000000    1.00      0.75   0.50    0.25  0.000000
834   0.000000  0.000000    1.00      0.50   0.50    0.50  0.000000

     avg_grade  alc
0     0.711538  0.0
1     0.557692  0.0
2     0.538462  1.0
3     0.596154  1.0
4     0.653846  0.0
..         ...  ...
830   0.423077  0.0
831   0.442308  1.0
832   0.615385  0.0
833   0.730769  0.0
834   0.711538  0.0

[835 rows x 43 columns]>